<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.langlang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LangLang"
        android:usesCleartextTraffic="true">
        <activity android:name=".TestChooseActivity"></activity>
        <activity android:name=".HomeworkList" />
        <activity android:name=".LessonActivity" />
        <activity android:name=".AllActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".PanelActivity" />
        <activity android:name=".mainPanel.showLesson" />
        <activity android:name=".CourseInfoActivity" />
        <activity android:name=".SingToCourse" />
        <activity android:name=".CourseChooseActivity" />
        <activity
            android:name=".Panel"
            android:label="@string/title_activity_panel"
            android:theme="@style/Theme.LangLang.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                android:usesCleartextTraffic="true"
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>